Flask == 1.0.2
Pillow == 5.4.1
asposebarcode == 1.0.0
asposestorage == 1.0.2
automium-web == 0.1.1
dataloader == 2.0
django-misc == 0.1.0
django-mp-misc == 1.8
future == 0.17.1
gensim == 3.7.0
gpgmailencrypt == 3.4.2
h5py == 2.9.0
hematopy == 0.0.1.dev6
indras-net == 2.0.6
lsl == 1.2.3
nltk == 3.4
numpy == 1.16.0
opts == 0.1.1
pycocotools == 2.0.0
pygallerid == 0.2
pynotion == 0.0.1
pyskyscanner == 1.0.1
pyvol == 1.0
requests>=2.20.0
roomai == 0.1.16
scikit_image == 0.14.2
scipy == 1.2.0
six == 1.12.0
smcp == 0.4.6
solar-radiation-model == 0.0.20
src == 0.0.7
survival == 0.0.4
swiftcodegen == 0.3
torch == 1.0.0
torchvision == 0.2.1
transferflow == 0.1.8
visvmtagger == 1.0a0
whitenoise == 4.1.2
