<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Auto-Hashtags</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Keywords to Unlock your Engagement Potential</p>
						<h2>Auto-Hashtags</h2>
					</header>
				</div>
			</section>

		<!-- Main -->
			<div id="main" class="container">

				<!-- Elements -->

					<div class="row 200%">
						<div class="6u 12u$(medium)">

						</div>
					</div>

					<header class="masthead">

			        <div class="container h-100">
			            <div class="row h-100">

			                <div class="col-lg-6 my-auto">
			                    <div class="container my-auto">
														<table style="width: 1200px;border-color: #FFFFFF; background-color: #FFFFFF;" border="0">
															<tbody>
																<tr>
																	<td style="width: 840px; border-color: #ffffff; background-color: #ffffff; border-color: #ffffff; background-color: #ffffff text-align: center; vertical-align: middle;" rowspan="2"><img class="img-responsive" style="margin: auto; max-width: 800px; display: block;" src={{content}} /></td>
																	<td style="width: 291px; border-color: #ffffff; background-color: #ffffff; text-align: center; vertical-align: middle;"><span style="color: #0000ff; font-size: 15pt;">{{caption}}</span></td>
																</tr>
																<!-- <tr>
																	<td style="width: 291px; border-color: #ffffff; background-color: #ffffff; text-align: center; vertical-align: middle;"><span style="color: #000000;">{{caption}}</span></td></tr> -->
															</tbody>
														</table>
			                    </div>
			                </div>

			            </div>
			    </header>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<h3 style="color:#FFFFFF">Harini Sridhar</h3>
				<ul class="icons">
					<li><a href="https://www.linkedin.com/in/harini-sridhar-machinelearning/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
					<li><a href="https://github.com/harini-sridhar" class="icon fa-github"><span class="label">Github</span></a></li>
				</ul>
			</div>
			<!-- <div class="copyright">
				&copy; Untitled. All rights reserved.
			</div> -->
		</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
