<!DOCTYPE HTML>
<!--
Hielo by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Auto-Hashtags</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

	<!-- One -->
	<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p>Keywords to Unlock your Engagement Potential</p>
				<h2>Auto-Hashtags</h2>
			</header>
		</div>
	</section>

	<!-- Main -->

	<div id="main" class="container">

		<!-- Elements -->

		<header class="masthead">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col-lg-7 my-auto">
						<!-- <div id="loading" style="text-align: center">
							<h6>Please hold on. Hashtags coming your way.... </h6>
							<img src="static/img/loading.gif" style="height: 100px; width: 100px">
						</div> -->

						<div class="header-content mx-auto" id="content">
							<h2>Upload Image</h3>
							<form method=post enctype=multipart/form-data>
								<input type=file class="btn btn-outline btn-xl" name=content-file>
								<p></p>
								<input type=submit class="btn btn-outline btn-xl" data-loading-text="Loading..." value="Upload" onclick="loading();">

							</form>
						</div>

					</div>

					<!-- <div class="col-lg-5 my-auto ">
						<div class="device-container ">
							<div class="device-mockup iphone6_plus black">
								<div class="device ">
									<div class="screen ">
										<img src="/caption-it/static/img/demo.mp4 " class="img-fluid " alt=" ">

									</div>
									<div class="button ">
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
				<!-- <div id="loading" style="text-align: center">
					<h6>Please hold on. Hashtags coming your way.... </h6>
					<img src="static/img/loading.gif" style="height: 100px; width: 100px">
				</div>	 -->
			</div>
		</header>

		<p></p>
		<p></p>
		<p></p>
		<p></p>

		<!-- Footer -->
		<footer id="footer">
			<div class="container">
				<h2 style="color:#FFFFFF">Harini Sridhar</h2>
				<ul class="icons">
					<li><a href="https://www.linkedin.com/in/harini-sridhar-machinelearning/" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
					<li><a href="https://github.com/harini-sridhar" class="icon fa-github"><span class="label">Github</span></a></li>
				</ul>
			</div>
		</footer>
	</div>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>
